@charset "utf-8";
/* CSS Document */

a {
color: #ec9313;
text-decoration: none;
}

a:hover,
a:focus {
text-decoration: none;
o-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
color: #c27911;
}

a.scroll.active, a.scroll.active i {
    color: #ec9313 !important;
    border-top: 0px Solid #ec9313;
    background: none;
}

.Menu-Header a.scroll.active:before {
    border-top: 2px solid #ec9313;
    width: 100%;
}

.activelink {
border: 2px Solid #ec9313 !important;
padding: 10px 30px;
font-size: 17px;
color: #FFF;
border-radius: 3px;
background: #ec9313 !important;
text-align: center;
font-family: 'Lato', sans-serif;
}

.Menu-Header ul li a:hover {
color: #ec9313 !important;
border-top: 0px Solid #ec9313;
background: none;
}

.Menu-Header ul li a:before {
border-top: 2px solid #ec9313;
}

.Menu-Header ul li a.current:before {
width: 100%;
content: "";
color: #ec9313 !important;
}

.current{
color: #ec9313 !important;
}

.navbar .dropdown-menu {
border-top: 2px solid #ec9313 !important;
}

ul.dropdown-menu .col-md-4 h5 {
color: #ec9313;
}

.Top-Block {
background: #ec9313;
border-right: 1px Solid #ec9313;
}

.Top-Block i {
background: #ec9313;
border: 5px Solid #ec9313;
}

.About-Block:hover .Top-Block i {
background: #303030;
border: 5px Solid #ec9313;
}

.Bottom-Block a:hover {
color: #FFF;
background: #ec9313;
border: 1px SOlid #ec9313;
}

.title-section h3 {
color: #ec9313;
}

h4.tap-title.active i {
background: #ec9313;
}

h4.tap-title.active a {
color: #ec9313;
}

.Contact-Team p span {
color: #ec9313;
}

.Top-Testimonials i {
border: 2px Solid #ec9313;
}

.Bottom-Testimonials h3 {
color: #ec9313;
}

#owl-Testimonials .owl-page.active span {
background: #ec9313 !important;
}

.block-Services:hover i {
color: #ec9313;
}

.block-Services:hover h3 {
color: #ec9313;
}

.block-Services:hover .line-break {
border-bottom: 2px Solid #ec9313;
}

.SliderHomeVideoBck {
background: rgba(66, 148, 255, 0.9);
}

.projectItem-hover {
background: rgba(66, 148, 255, 0.9);
}

.owl-theme .owl-controls .owl-page.active span {
border: 3px SOlid #ec9313;
}

.btn-bck {
background: #ec9313;
border: 2px Solid #ec9313;
}

.btn-bck:hover {
border: 2px Solid #ec9313;
color: #ec9313;
}

a.btn-notback {
border: 2px Solid #ec9313;
color: #ec9313;
}

a.btn-notback:hover {
background: #ec9313;
border: 2px Solid #ec9313;
}

.color-wrapper {
background-color: #ec9313;
border: none;
}

.Features-Block h3 {
color: #ec9313;
}

.Title-Us h3 {
color: #ec9313;
}

.col-md-4:hover .Block-Sec h5 {
color: #ec9313;
}

.col-md-4:hover .Block-Sec a {
color: #ec9313 !important;
}

.col-md-4:hover .Block-Sec a:after {
color: #ec9313;
}

#owl-Services-Slider .owl-page.active span {
background: #ec9313 !important;
}

.block-News:hover .Top-img-news i {
background: #ec9313;
}

.Post-f-title p span {
color: #ec9313;
}

.Join-Footer .btnjoin {
background: #ec9313;
}

.Top-Block-Sidebar h2 {
color: #ec9313;
}

.main-bg input {
background: #ec9313;
color: #FFF;
}

.check-box a {
color: #ec9313;
}

.Sign-Up p a {
color: #ec9313;
}

.Bot-Block-Sidebar h2 {
color: #ec9313;
}

.Join-Sidebar .btnjoin {
background: #ec9313;
}

a.Slicefive:hover {
background: #ec9313;
border: 2px Solid #ec9313;
}


.progress-bar {
background-color: #ec9313;
height: 10px;
}

.Hover-Team {
background: rgba(66, 148, 255, 0.9);
}

.active-link a {
background: #ec9313 !important;
}

.Load-More a:hover {
border: 2px Solid #ec9313;
color: #FFF;
background: #ec9313;
}

.block-Features i {
background: #ec9313;
}

.one_fourth i {
background: #ec9313;
}

.one_fourth span {
color: #ec9313;
}

.wrapper-twitter {
background: rgba(236, 147, 19, 0.7);
}

.Join-Newsletter .btnjoin {
background: #ec9313;
}

.Join-Newsletter {
border: 1px Solid #ec9313;
}

.tags a:hover {
background: #ec9313;
}

.About-Block:hover .Style-Tow {
margin-top: -20px;
height: 150px !important;
background: -webkit-linear-gradient(180deg, #ec9313 10%, #2986FC 90%);
background: -moz-linear-gradient(180deg, #ec9313 10%, #2986FC 90%);
background: -ms-linear-gradient(180deg, #ec9313 10%, #2986FC 90%);
background: -o-linear-gradient(180deg, #ec9313 10%, #2986FC 90%);
background: linear-gradient(180deg, #ec9313 10%, #2986FC 90%);
}

.About-Block:hover .Top-Block.Style-Tow i {
border: 0px Solid #ec9313;
}

.About-Block:hover .Style-Tow i {
background: none;
border: none;
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
-moz-transition: -moz-transform 0.2s;
-o-transition: transform 0.2s;
-webkit-transition: -webkit-transform 0.2s;
transition: transform 0.2s;
}

.dropdown-submenu>.dropdown-menu:not(.yamm-dropdown-menu) {
border-top: 2px solid #ec9313 !important;
}

.Catogry-Pages p a {
color: #ec9313;
}

.Top-Title-Page h3 {
color: #ec9313;
}

.block-Services:hover .Box-Bg i {
color: #ec9313;
}

.About-Me-Right i {
background: #ec9313;
}

.Download-CV a {
background: #ec9313;
}

.Pricing .plan:hover .Top-Plan {
background: #ec9313;
}

.Pricing .plan:hover .select a {
background: #ec9313;
border: 2px Solid #ec9313;
}

.description-section a {
color: #ec9313;
}

.description-section i {
color: #ec9313;
}

.Pricing .plan:hover .Top-Plan-2 h4 {
background: #ec9313;
}

.siteMap-nav ul ul li a {
color: #777777;
}

.siteMap-nav ul ul li a:hover {
color: #ec9313;
}

.time_circles > div > span {
color: #ec9313;
}

.Top-Title-Blog h2 {
color: #ec9313;
}

.Bottom-Title-Blog ul li p span {
color: #ec9313;
}

.Comments-Post ul li h4 {
color: #ec9313;
}

.Comments-Post ul li span a {
color: #ec9313 !important;
}

.btn-large:hover {
background: #ec9313;
}

.Headline-Text h1, .Headline-Text h2, .Headline-Text h3, .Headline-Text h4, .Headline-Text h5, .Headline-Text h6 {
font-weight: 700;
color: #ec9313;
}

blockquote p {
color: #ec9313;
}

blockquote.blockquote-3 {
background: #ec9313;
}

ul.list.prim li:before {
color: #ec9313;
}

.Bullets ul li span {
color: #ec9313;
}

.Block-Contact i {
color: #ec9313;
}

.Block-Contact span {
color: #ec9313;
}

.Block-Business i {
background: #ec9313;
}

.portfolio-link i, .portfolio-zoom i, .portfolio-like i {
color: #ec9313;
}

.Bottom-Twitter h2 a:hover {
  color: #ec9313 !important;
}

.Post-f-title a h2:hover {
  color: #ec9313;
}

#to-top {
background-color: #ec9313;
}

.selected .Icons-Search a {
  color: #ec9313;
}
